.printer-margin-box
  h1 Apocalypse World - Actions de base
  .columns
    .col
      h4 Agir face au danger (dés+cool)
      p
        | Quand tu #[strong cherches à accomplir quelque chose malgré un danger]
        | imminent ou que tu baisses la tête pour éviter les emmerdes, lance
        | dés+cool. #[strong Sur 10+], tu y arrives. #[strong Sur 7-9] tu cafouilles, tu hésites ou tu
        | lambines : le MC va te proposer une issue foireuse, un choix difficile
        | ou un prix à payer.

      h4 Agresser quelqu’un (dés + dur)
      p
        | Quand tu #[strong agresses ou menaces physiquement quelqu’un] lance
        | dés+dur. #[strong Sur 10+], il doit choisir :
        ul.dot
          li te tenir tête et subir tes coups
          li plier et faire ce que tu demandes
        | #[strong Sur 7-9], il peut choisir 1 option à la place :
        ul.dot
          li foutre le camp sans traîner
          li se mettre à couvert
          li te filer quelque chose qu’il croit que tu veux ou te dire ce que tu veux savoir (ou ce que tu veux entendre)
          li faire marche arrière gentiment les mains en l’air

      h4 Agresser par surprise (dés+dur / rien)
      p
        | Quand tu attaques quelqu’un qui ne soupçonnes pas ta présence ou qui est sans défense, demande au MC si tu peux échouer. Si tu peux, traite cette action comme #[strong agresser quelqu’un], mais ta victime ne peut pas plier et faire ce que tu demandes. Si tu ne peux pas échouer, inflige tes dégâts.

      h4 Se battre
      p Quand tu es #[strong en combat], tu peux utiliser les actions de combat.

      h4 Séduire ou manipuler (dés+sexy)
      p
        | Quand tu #[strong tentes de séduire, manipuler, bluffer, mentir ou de faire ton beau parleur], dis-lui ce que tu veux qu’il fasse, donne-lui une raison, et lance dés+sexy.
      p #[strong Pour un PNJ], #[strong Sur 10+], il fait ce que tu lui demandes, à moins que ou jusqu’à ce que la raison que tu lui as donnée soit caduque. #[strong Sur 7-9], il fait ce que tu lui demandes, mais il veut d’abord avoir une preuve concrète, une garantie que tu vas tenir ta parole.
      p #[strong Pour un PJ], #[strong Sur 10+], choisis les 2. #[strong Sur 7-9], choisis 1 :
        ul.dot
          li s’il le fait, il coche une bulle d’expérience
          li s’il refuse, efface une de ces caracs cochées pour le reste de la session
      p Dans tous les cas, c’est le joueur du personnage qui décide de ce qu’il fera.

      h4 Aider ou interférer (dés+Hx)
      p
        | Quand tu #[strong aides ou interfères avec quelqu’un qui fait un jet de dés],
        | lance dés+Hx que tu as avec lui sur ta fiche. #[strong Sur 10+],
        | il prend +2 (aide) ou -2 (interférence) là tout de suite.
        | #[strong Sur 7-9],
        | il prend +1 (aide) ou -1 (interférence) là tout de suite.

    .col
      h4 Faire le point (dés+rusé)
      p
        | Quand tu #[strong fais le point sur une situation tendue] ou que tu évalues
        | tes options, lance dés+rusé. Sur un succès, tu peux poser des questions
        | au MC. Si tu agis en prenant la réponse du MC en considération,
        | tu reçois +1 au prochain jet. #[strong Sur 10+], tu peux poser 3 questions.
        | #[strong Sur 7-9], 1 seule :
        ul.dot
          li quelle est ma meilleure échappatoire / entrée / manière de le contourner ?
          li quel adversaire me semble le moins dangereux ?
          li quel adversaire est mon plus gros problème ?
          li à quoi devrais-je faire attention ?
          li où se trouve réellement mon adversaire ?
          li qui a l’avantage ici ?
        | Sur #[strong 6-], pose 1 question tout de même, mais attend toi au pire.

      h4 Cerner quelqu’un (dés+rusé)
      p
        | Quand tu #[strong essaies de cerner quelqu’un lors d’une situation tendue], lance dés+rusé.
        | #[strong Sur 10+], retiens 3. #[strong Sur 7-9], retiens 1.
        | Pendant que tu discutes avec lui, tu peux dépenser 1 retenue pour poser une question :
        ul.dot
          li est-ce que ton personnage dit la vérité ?
          li qu’est-ce que ton personnage ressent vraiment ?
          li qu’est-ce que ton personnage a l’intention de faire ?
          li qu’est-ce que ton personnage espère que je fasse ?
          li comment est-ce que je peux convaincre ton personnage de __ ?
        | Sur #[strong 6-], pose 1 question tout de même, mais attend toi au pire.

      h4 Ouvrir son cerveau (dés+zarb)
      p
        | Quand tu #[strong ouvres ton cerveau au maelström psychique], dés+zarb.
        | Sur un succès, le MC t’annonce quelque chose de nouveau et d’intéressant
        | sur la situation telle qu’elle est, et va peut-être te poser une
        | question ou deux : réponds-y. #[strong Sur 10+], le MC te donne des détails
        | précis. #[strong Sur 7-9], le MC te donne juste une impression. Si tu sais déjà
        | tout ce qu’il y a à savoir, le MC te le dira.

      h4 Style de vie et jobs
      p
        | #[strong Au début d’une session], dépenses 1- ou 2-troc selon le style de vie que tu mènes.
        | Si tu ne peux pas ou ne veux pas, dis-le au MC et réponds à ses questions.
      p
        | Si tu as #[strong besoin de te renflouer] pendant une session, dis au MC que tu voudrais faire un petit boulot.

      h4 Fin de session
      p
        | #[strong A la fin de chaque session], choisis un personnage qui en sait plus sur
        | toi qu’avant. S’il y en a plusieurs, choisis librement parmi eux. Dis
        | à ce joueur d’ajouter +1 à son Hx avec toi sur sa fiche. Si ça l’amène
        | à +4, il remet son Hx avec toi à +1 (et coche une bulle d’expérience
        | dans la foulée).
        | Si personne n’en sait plus sur toi, choisis un personnage qui ne te connaît pas aussi bien qu’il le croyait ou choisis un personnage librement.
        | Dis à ce joueur de prendre -1 à son Hx avec toi sur sa fiche. Si ça l’amène à -3, il remet son Hx avec toi à 0 (et coche une bulle d’expérience dans la foulée).