.printer-margin-box
  h1 Apocalypse World - Actions de combat
  .columns
    .col
      h4 Échanger coup pour coup
      p
        | Quand vous #[strong échangez coup pour coup], les deux côtés infligent simultanément leurs dégâts et subissent les dégâts comme établi :
        ul.dot
          li Tu infliges les dégâts de ton arme, moins l’armure de ton ennemi.
          li Tu subis les dégâts de l’arme de ton ennemi, moins ton armure.

      h4 Prendre par la force (dés+dur)
      p
        | Quand tu tentes de #[strong prendre quelque chose par la force], échange coup pour coup, mais d’abord lance dés+dur. #[strong Sur 10+], choisis 3. #[strong Sur 7-9], choisis 2. #[strong Sur 6-], choisis 1 parmi :
        ul.dot
          li Tu infliges de terribles dégâts (+1dégât).
          li Tu encaisses peu de dégâts (-1dégât).
          li Tu l’obtiens pour de bon.
          li Tu impressionnes, effrayes ou désarçonnes ton ennemi.
      h6 Variantes
      ul.dot
        li Pour #[strong prendre d’assaut une position sécurisée], fait ton lancer de dés pour prendre par la force, mais au lieu de choisir de l’obtenir pour de bon, tu peux choisir d’entrer de force dans la place forte.
        li Pour #[tenir une position ou conserver quelque chose], fait ton lancer de dés pour prendre par la force, mais au lieu de choisir de l’obtenir pour de bon, tu peux choisir d’en garder le contrôle.
        li Pour #[strong forcer le passage vers la sortie], fait ton lancer de dés pour prendre par la force, mais au lieu de choisir de l’obtenir pour de bon, tu peux choisir de t’échapper.
        li Pour #[strong défendre quelqu’un d’une attaque], fait ton lancer de dés pour prendre par la force, mais au lieu de choisir de l’obtenir pour de bon, tu peux choisir de le protéger des dégâts.

      h4 Combat en un contre un (dés+dur)
      p
        | Quand tu #[strong combats en un contre un], pas de quartier, échanges coup pour coup, mais d’abord lance dés+dur. #[strong Sur 10+], choisis les deux. #[strong Sur 7-9], choisis 1. #[strong Sur 6-], ton adversaire choisit 1 contre toi :
        ul.dot
          li Tu infliges les dégâts de ton arme, moins l’armure de ton ennemi.
          li Tu subis les dégâts de l’arme de ton ennemi, moins ton armure.
      p
        | Après avoir échangé coup pour coup, tu peux choisir d’arrêter le combat. Si les deux adversaires préfèrent arrêter de se battre, le combat s’arrête. Si les deux adversaires veulent toujours se battre, le combat continue et tu dois faire cette action de nouveau. Si un seul d’entre vous préfère arrêter, celui-ci doit choisir entre fuir, abdiquer et s’en remettre à la pitié de son adversaire, ou continuer de combattre finalement.

    .col
      h4 Actions de tactique et support

      p
        | Quand tu #[strong fais un tir de couverture], lance dés+dur. #[strong Sur 10+], choisis 3. #[strong Sur 7-9], choisis 2. #[strong Sur 6-], choisis 1 parmi :
        ul.dot
          li Tu fais un tir de couverture, ce qui permet à un autre personnage de se déplacer ou d’agir librement.
          li Tu fais un tir d’appui, ce qui permet à un autre PJ d’obtenir +1choix à leur propre action de combat.
          li Tu fais un tir de suppression, ce qui empêche un autre personnage de se déplacer ou d’agir librement. (Si c’est un PJ, il peut agir face au danger).
          li Tu fais un tir opportuniste, ce qui inflige des dégâts (mais à -1dégât) sur un ennemi à portée.

      p
        | Quand tu #[strong surveilles les arrières d’un allié], lance dés+cool. Sur un succès, si quelqu’un attaque ou interfère avec ton allié, tu l’attaques et infliges tes dégâts comme établi, et tu alertes ton allié. #[strong Sur 10+], choisis 1 :
        ul.dot
          li Tu infliges tes dégâts avant qu’il attaque ou interfère.
          li Tu infliges de terribles dégâts (+1dégât)
        | #[strong Sur 6-], tu alertes ton allié mais ne parviens pas à attaquer ton ennemi.

      p
        | Quand tu #[strong fais attention à ce qui pourrait arriver], lance dés+rusé. #[strong Sur 10+], retiens 3. #[strong Sur 7-9], retiens 2. #[strong Sur 6-], retiens 1. Pendant le combat, tu peux dépenser tes retenues, 1 pour 1, pour poser une question au MC sur ce qui arrive et choisir 1 :
        ul.dot
          li Dirige l’attention d’un PJ allié sur un ennemi. S’il fait une action de combat contre cet ennemi, il gagne +1choix pour cette action.
          li Donne un/une ordre/instruction/suggestion à un PJ allié. S’il le fait, il gagne +1 sur chaque lancer de dés tant qu’il suit cet ordre.
          li Dirige l’attention d’un allié sur un ennemi. S’il attaque cet ennemi, il inflige +1dégât.
          li Dirige l’attention d’un allié sur un danger. Il prend -1dégât de ce danger.

      h4 Actions de ruse

      p
        | Quand tu #[strong es l’appât], lance dés+cool. #[strong Sur 10+], choisis 2. #[strong Sur 7-9], choisis 1 :
        ul.dot
          li Tu attires ta proie dans le piège. Sinon, elle s’approche uniquement.
          li Ta proie ne se doute de rien. Sinon elle est sur ses gardes.
          li Tu ne t’exposes pas à des risques supplémentaires. Sinon, ta proie t’infligera +1dégât.
        | #[strong Sur 6-], le MC choisi 1 pour toi.

      p
        | Quand tu #[strong es le chat], lance dés+cool. Sur un succès, tu attrapes ta proie. #[strong Sur 10+], tu l’a amenée où tu voulais. Désigne l’endroit. #[strong Sur 7-9], tu dois la suivre où elle veut aller. Elle dira où. #[strong Sur 6-], ta proie t’échappe.

      p
        | Quand tu #[strong es la souris], lance dés+cool. #[strong Sur 10+], tu échappes à sa traque. #[strong Sur 7-9], le chasseur t’attrape mais après que tu l’ai amené où tu voulais. Désigne l’endroit. #[strong Sur 6-], le chasseur t’attrapes, le MC te dira où.

      p
        | Quand on #[strong est pas sûr que tu sois le chat ou la souris], lance dés+rusé. Sur un succès, tu décides lequel tu es. #[strong Sur 10+], Tu gagnes, en plus, +1 à suivre. #[strong Sur 6-], tu es la souris.