.printer-margin-box
  h1 Apocalypse World - Règles des dégâts - 01/02
  .columns
    .col
      h4 Dégâts
      p #[strong Les dégâts comme établi] sont égaux aux dégâts de l’arme de l’attaquant moins l’armure du défenseur.
      p Quand tu subis des dégâts, fait l’action subir des dégâts.

      h4 Échanger coup pour coup
      p
      | Quand vous #[strong échangez coup pour coup], les deux côtés infligent simultanément leurs dégâts et subissent les dégâts comme établi :
      ul.dot
        li Tu infliges les dégâts de ton arme, moins l’armure de ton ennemi.
        li Tu subis les dégâts de l’arme de ton ennemi, moins ton armure.

      h4 Degré de douleur
      p Pour chaque 1-dégât que tu subis, marque un segment de ton compteur de dégâts. Commence par le segment entre 12:00 et 3:00 et continue dans le sens horaire.
      p Les 3 segments avant 9:00 sont presque bénins, les 3 segments après 9:00 sont plus graves. Si tu coches le dernier segment, entre 11:00 et 12:00, ta vie est devenue insoutenable.
      p
        | Avant 6:00, les dégâts vont guérir avec le temps.
        | Entre 6:00 et 9:00, les dégâts ne se résorbent pas tous seul mais ne s’aggravent pas non plus.
        | Après 9:00, les dégâts s’aggravent d’eux-mêmes si tu n’es pas stabilisé.
      p Quand la vie devient insoutenable :
      ul.dot
        li reviens avec -1dur
        li reviens avec +1zarb (max+3)
        li crée un nouveau personnage
        li meurs

      h4 Quand un PNJ subit des dégâts
      p #[strong 1-dégât] : blessures superficielles, douleur, contusions, peur si le PNJ est du genre à craindre la douleur.
      p #[strong 2-dégât] : blessures, inconscience, douleur aiguë, fractures, état de choc. Probablement mortel, parfois sur le coup.
      p #[strong 3-dégât] : je lui donne une chance sur deux de s’en tirer. Sinon, de terribles blessures, état de choc, mort imminente.
      p #[strong 4-dégât] : la plupart du temps mortel sur le coup, mais parfois le pauvre bâtard attend sa mort venir en perdant des bouts.
      p #[strong 5-dégât et plus] : mortel et laisse le corps en morceaux.

    .col
      h4 Utiliser un gang comme une arme
      p
        | Quand tu as un gang, tu peux #[strong agresser quelqu’un, agresser quelqu’un par surprise, ou faire des actions de combat], en utilisant ton gang comme une arme. Dans ce cas, lance les dés et fait tes choix, mais c’est le gang qui inflige et subit les dégâts, pas toi.
      p
        | Un gang #[strong inflige et subit des dégâts comme établi] : il inflige des dégâts égale à ses dégâts, moins l’armure de l’adversaire, et il subit des dégâts égaux aux dégâts de l’adversaire moins sa propre armure. Dégâts = arme – armure.
      p
        | Quand il y a une #[strong différence de taille] entre les groupes qui se battent, le plus gros des deux inflige +1dégât et gagne +1armure pour chaque niveau d’écart de taille :
        ul.dot
          li Contre une personne seule, un petit gang inflige +1dégât et gagne +1armure. Un gang moyen inflige +2dégât et gagne +2armure. Un grand gang inflige +3dégât et gagne +3armure.
          li Contre un petit gang, un gang moyen inflige +1dégât et gagne +1armure. Un grand gang inflige +2dégât et gagne +2armure.
          li Contre un gang moyen, un grand gang inflige +1dégât et gagne +1armure.

      h4 Quand un gang subit des dégâts
      p #[strong 1-dégât] : quelques blessés, un ou deux gravement, pas de pertes.
      p #[strong 2-dégâts] : pas mal de blessés, plusieurs gravement, une perte ou deux.
      p #[strong 3-dégâts] : la plupart blessés, pas mal gravement, plusieurs pertes.
      p #[strong 4-dégâts] : la plupart blessés gravement, pas mal de pertes.
      p #[strong 5-dégâts et plus] : la plupart morts, quelques survivants.

      h6 Le gang tient bon ?
      p
        | Quand le gang a à sa tête un chef solide qui les accompagne, le gang tient bon tant qu’il subit jusqu’à 4-dégâts.
        | Si le chef est mou ou absent, le gang tient bon tant qu’il subit jusqu’à 3-dégâts.
        | Si le chef est mou et absent, il tient peut-être jusqu’à subir 1- ou 2-dégâts.
        | Sans chef à sa tête, le gang tient bon s’il subit 1-dégât, mais pas plus.
      p
        | Un chef de gang peut imposer à son gang de tenir bon en imposant sa volonté s’il a mâle alpha, ou en lui donnant l’ordre de maintenir l’ordre et la discipline s’il a commandement.
        | Sans une de ces deux actions, on utilise les règles ci-dessus, idem pour les PNJ.

      h6 Les PJ en tant que membres d’un gang ?
      p
        | Si le PJ fait partie du gang qui subit des dégâts, ce qu’il subit dépend de son rôle dans le gang.
        | Si c’est le chef ou s’il est à l’avant ou attire l’attention, il subit autant de dégâts que le gang.
        | S’il suit juste le mouvement ou s’il essaie de couvrir ses miches et de rester à l’arrière, il subit -1dégât.