.printer-margin-box
  h1 Apocalypse World - Règles des dégâts - 02/02
  .columns
    .col
      h4 Utiliser un véhicule comme une arme
      p
        | Quand tu te trouves derrière un volant, tu peux #[strong agresser quelqu’un, agresser quelqu’un par surprise, ou faire une action de combat], en utilisant ton véhicule comme une arme.
        | Dans ce cas, lance les dés et fait tes choix, mais c’est le véhicule qui inflige et subit les dégâts, pas toi.
      h6 Contre une personne :
      ul.dot
        li Heurter la personne inflige 2-dégât (perforant).
        li Heurter la personne de plein fouet inflige 3-dégât (perforant) plus taille du véhicule.

      h6 Contre un autre véhicule :
      ul.dot
        li Heurter le véhicule lui inflige véhicule-dégât.
        li Heurter de plein fouet le véhicule lui inflige 3-dégât (perforant) plus taille du véhicule attaquant moins taille du véhicule cible moins armure du véhicule cible. Traiter les dégâts 0-dégât et moins comme des véhicule-dégât.
        li Quand tu peux percuter un véhicule sur le côté, tu infliges les dégâts d’un coup de plein fouet (3-dégât + taille – armure adverse – taille adverse).

      h6 Contre un bâtiment ou une structure :
      ul.dot
        li Heurter la structure lui inflige 2-dégât.
        li Heurter de plein fouet le véhicule lui inflige 3-dégât + taille du véhicule attaquant – armure de la structure.

      h4 Quand un véhicule subit des dégâts
      p
        | Les véhicules subissent les dégâts normaux des balles, explosions, heurts de plein fouet d’autres véhicules, ou des vehicule-dégât des heurts d’autres véhicules.
      p
        | Quand un véhicule subit des dégâts normaux, des dégâts sont appliqués au véhicule et à ses passagers.
      p
        | #[strong 1-dégât] : dégâts cosmétiques. Impacts de balles, bris de glace, fumée.
        | #[strong 0-dégât peut passer à travers] et toucher les passagers.
      p
        | #[strong 2-dégât] : dégâts inquiétants. Fuite de carburant, pneu crevé, ratés du moteur, problèmes avec la direction, les freins ou l’accélérateur.
        | #[strong 1-dégât peut passer à travers] et toucher les passagers.
      p
        | #[strong 3-dégât] : dégâts graves. Tout foire à gauche et à droite, mais tu peux réparer sur le terrain.
        | #[strong 2-dégât peuvent passer à travers] et toucher les passagers.
      p
        | #[strong 4-dégât] : déclassé. Plus rien ne marche, tu peux réparer si tu arrives à le traîner au garage, ou tu peux récupérer quelques pièces dessus.
        | #[strong 3-dégât peuvent passer] à travers et toucher les passagers.
      p
        | #[strong 5-dégât et plus] : destruction totale.
        | #[strong Les dégâts sont infligés aux passagers au complet], et ils peuvent manger plus grave si le véhicule explose ou s’écrase.
      p
        | Le MC décide si des dégâts sont infligés aux passagers selon les circonstances.

    .col
      h4 Véhicule-dégât
      p
        | Les #[strong véhicule-dégât infligés comme établi] sont égaux à taille du véhicule attaquant moins, au choix de la cible, la taille ou la maniabilité du véhicule cible.
      p
        | Quand tu #[strong subis des véhicule-dégât], lance dés+véhicule-dégât subit.
        | #[strong Sur 10+], tu perds le contrôle de ton véhicule et l’attaquant choisis 1 :
        ul.dot
          li Tu t’écrases quelque part.
          li Tu dérapes.
          li Choisis 2 de la liste 7-9.
        | #[strong Sur 7-9], tu n’as d’autre choix que de faire une embardée. L’attaquant choisis 1 :
        ul.dot
          li Tu cèdes du terrain.
          li Tu es éjecté de la course, ou forcer à prendre un autre chemin.
          li Ta boîte de vitesse en prend un coup. Ton véhicule prend 1-dégât perforant.
        | #[strong Sur 6-], tu fais une embardée, mais tu te rétablis sans désavantages.

      h4 Quand un bâtiment subit des dégâts
      p
        | Les dégâts subis par les bâtiments et autres structures ne sont pas cumulatifs. Il n’est donc pas nécessaire de faire un compteur de dégâts pour les bâtiments. Tirer 3 fois au fusil à pompe pour 3-dégât ne va pas s’additionner pour faire un total de 9-dégât et faire s’écrouler le bâtiment.
      p
        | #[strong Quand un bâtiment ou une structure subit des dégâts]
      p
        | #[strong 1-dégât – 3-dégât] : dégâts cosmétiques. Impacts de balles, bris de glace, traces de brûlure.
        | #[strong 0-dégât peut passer à travers] et toucher les occupants.
      p
        | #[strong 4-dégât – 6-dégât] : dégâts inquiétants. Plein de trous ou de large trous dans la structure, pas une vitre en un seul morceau, incendie.
        | #[strong 2-dégât peut passer à travers] et toucher les occupants.
      p
        | #[strong 7-dégât – 8-dégât] : dégâts graves. Murs ou piliers porteurs qui commencent à s’affaisser, effondrement partiel, fournaise.
        | #[strong 4-dégât peut passer à travers] et toucher les occupants.
        | Davantage de dégâts structurels pourront provoquer l’effondrement total du bâtiment.
      p
        | #[strong 9-dégât et plus] : destruction totale. #[strong Les dégâts sont infligés aux occupants au complet], et ils peuvent manger plus grave si le bâtiment ou la structure s’effondre.
      p
        | Le MC décide si des dégâts sont infligés aux occupants d’un bâtiment selon les circonstances. Ne restez pas près des fenêtres !