.printer-margin-box
  h1 Apocalypse World - Actions périphériques
  .columns
    .col
      h4 Actions de dégâts & de soin
      p
        | Quand tu #[strong subis des dégâts], lance dés+dégâts subis (après déduction
        | de l’armure, si tu en portes). #[strong Sur 10+], le MC choisit 1 des options
        | suivantes :
        ul.dot
          li Tu es hors combat : inconscient, prisonnier, désorienté ou en train de paniquer
          li C’est pire que ça en avait l’air. Encaisse 1-dégât de plus.
          li Choisis 2 sur la liste 7-9 ci-dessous.

      p #[strong Sur 7-9], le MC choisit 1 des options suivantes :
        ul.dot
          li Tu perds pied.
          li Tu laisses échapper un truc que tu tiens.
          li Tu perds la trace de quelqu’un ou quelque chose dont tu t’occupais.
          li Tu passes à côté de quelque chose d’important.

      p
        | #[strong Sur 6-], le MC peut quand même prendre une option sur la liste
        | 7-9. S’il fait ça, c’est à la place d’une blessure que tu as encaissée : tu
        | subis -1dégât.

      p
        | Quand tu #[strong infliges des dégâts au personnage d’un autre joueur],
        | l’autre personnage gagne +1Hx avec toi sur sa fiche pour chaque segment
        | de dégât qu’il se mange. Si ça l’amène à Hx+4, il ramène son Hx
        | avec toi à +1 et il coche une bulle d’expérience dans la foulée.

      p
        | Quand tu #[strong soignes les blessures du personnage d’un autre joueur],
        | tu gagnes +1Hx avec lui sur ta fiche pour chaque segment de dégât
        | que tu lui soignes. Si ça t’amène à Hx+4, tu ramènes ton Hx à +1 et
        | tu coches un bulle d’expérience dans la foulée.

      h4 Actions de marchandage
      p
        | Quand tu #[strong donnes 1-troc à quelqu’un avec une idée derrière la tête],
        | ça revient à manipuler quelqu’un et obtenir un 10+, le tout sans
        | devoir jeter le moindre dé.
      p
        | Quand tu #[strong vas faire ton marché là où il y a de quoi], que tu cherches
        | quelque chose à acheter en particulier, et que t’es pas sûr que ça soit
        | dispo, lance dés+vif. #[strong Sur 10+], en effet, tu mets la main dessus et tu
        | peux l’acheter comme ça. #[strong Sur 7-9], le MC choisit 1 option dans la liste
        | suivante :
        ul.dot
          li ça coûte 1-troc de plus que ce que tu croyais
          li Ça n’est pas à vendre directement, mais tu trouves quelqu’un qui peut t’amener à quelqu’un d’autre qui le vend.
          li Ça n’est pas à vendre directement, mais tu trouves quelqu’un qui l’as récemment vendu à quelqu’un d’autre. Peut-être te présentera-t-il cette personne.
          li Ça n’est pas à vendre directement, mais tu trouves quelque chose de similaire. Est-ce que ça fera l’affaire ?
      p #[strong Sur 6-], le MC choisis 1 option et ça te coûte 1-troc de plus.
      p
        | Quand tu #[strong fais savoir que tu veux un truc et que tu arroses les gens pour que ça aille plus vite],
        | lance dés+troc dépensé (max 3-troc). Ça
        | doit être un truc que tu peux avoir de cette façon. #[strong Sur 10+], on finit
        | par te le filer et tu ne dois rien à personne. #[strong Sur 7-9], on finit par te le
        | filer, ou en tout cas un truc qui y ressemble. #[strong Sur 6-], on finit par
        | te le filer mais tu as une grosse dette envers quelqu’un.
    .col
      h4 Conseil
      p
        | Quand tu peux aller voir quelqu’un pour un #[strong conseil],
        | demande-lui ce qu’il pense être la meilleure chose à faire, et le MC te le dit.
        | Si tu suis le conseil, prends +1 à tous les jets de dés que tu fais en le suivant.
        | Si tu suis les conseils mais que malgré tout tu n’atteins pas ton objectif,
        | coche une bulle d’expérience.

      h4 Auspice
      p
        | Quand tu peux utiliser quelque chose comme #[strong auspice], lance dés+zarb.
        | Sur un succès, tu peux au choix :
        ul.dot
          li
            | passer à travers le maelström psychique et atteindre quelque chose ou
            | quelqu’un qui y est lié
          li isoler ou protéger quelque chose ou quelqu’un du maelström psychique
          li isoler ou contenir un fragment du maelström psychique lui-même
          li envoyer des informations dans le maelström psychique
          li ouvrir une fenêtre sur le maelström psychique
      p
        | De base, l’effet dure tant que tu le maintiens, il n’atteint le maelström
        | que très superficiellement, il reste très restreint et il rend la réalité instable localement.
        | #[strong Sur 10+], choisis 2 options, #[strong sur 7-9],
        | choisis-en 1 seule parmi :
        ul.dot
          li l’effet reste (un petit temps) sans que tu doives le maintenir
          li l’effet atteint le maelström plus profondément
          li l’effet est plus étendu
          li l’effet est stable, contenu et n’altère pas la réalité
      p #[strong Sur 6-], quoi qu’il se passe de pourri, ton antenne va prendre.

      h4 Changer les caracs cochées
      p
        | #[Au début d’une session], ou à la fin si tu as oublié, n’importe qui peut demander de changer les caracs cochées. Quand quelqu’un le demande, faites-le. Faites un tour de table et procédez comme à la création du personnage : le joueur qui a le personnage avec le Hx le plus élevé coche une carac, le MC en coche une autre.