.printer-margin-box
  .columns
    .col
      h1 Apocalypse World - Actions de guerre du bitume
      h4 Aborder un véhicule (dés+cool - écart de vitesse)
      p
        | Pour #[strong aborder un véhicule], lance dés+cool moins sa vitesse. Pour aborder un véhicule depuis un autre véhicule, lance dés+cool moins la différence entre leur vitesse.
        | #[strong Sur 10+], tu y es et ça avait l’air facile. Prends +1 à suivre.
        | #[strong Sur 7-9+], tu y es, mais c’était juste.
        | #[strong Sur 6-], le MC choisit : tu t’accroches de toutes tes forces ou tu es tombé.

      h4 Distancer un véhicule (dés+cool - écart de vitesse)
      p
        | Quand tu #[strong essaies de distancer un autre véhicule], lance dés+cool modifié par l’écart de vitesse entre les deux véhicules.
        | #[strong Sur 10+], tu le distances et lui échappes.
        | #[strong Sur 7-9+], choisis 1 :
        ul.dot
          li Tu le distances et lui échappes, mais ton véhicule subit 1-dégât perforant comme tu y as été trop fort.
          li Tu ne lui échappes pas, mais tu peux te planquer dans un endroit que tu choisis.
          li Il te dépasse, mais il subit 1-dégât perforant pour avoir été poussé trop loin.
        | #[strong Sur 6-], ton adversaire choisit 1 contre toi.

      h4 Dépasser un autre véhicule (dés+cool + maniabilité)
      p
        | Quand tu #[strong essaies de dépasser un autre véhicule], lance dés+cool plus la maniabilité de ton véhicule.
        | #[strong Sur 10+], tu te retrouves à sa hauteur.
        | #[strong Sur 7-9+], choisis 1 :
        ul.dot
          li Tu le dépasses, mais ton véhicule subit 1-dégât perforant comme tu y as été trop fort.
          li Tu ne le dépasses pas, mais tu le conduis dans un endroit que tu choisis.
          li Il te distance, mais il subit 1-dégât perforant pour avoir été poussé trop loin.
        | #[strong Sur 6-], ton adversaire choisit 1 contre toi.

      h4 Gérer les obstacles (dés+cool + maniabilité)
      p
        | Quand tu dois #[strong gérer des obstacles], lance dés+cool plus la maniabilité de ton véhicule.
        | #[strong Sur 10+], tu traverses tout ça sans encombres.
        | #[strong Sur 7-9+], choisis 1 :
        ul.dot
          li Tu ralentis pour choisir la voie à suivre.
          li Tu fonces et ton véhicule subit les dégâts comme établi.
          li Tu laisses tomber et retourne en arrière ou cherches un autre chemin.
        | #[strong Sur 6-], ton adversaire choisit 1 pour toi. Les autres options ne peuvent être prises.

      h4 Charger un véhicule au coude à coude (dés+cool)
      p
        | Quand tu dois #[strong gérer des obstacles], lance dés+cool.
        | Sur un succès, tu le pousses sur le côté et inflige les véhicule-dégâts comme établi.
        | #[strong Sur 10+], tu infliges véhicule-dégâts+1.
        | #[strong Sur 6-], il te pousse sur le côté et inflige véhicule-dégât comme établi.

    .col
      h1 Création de véhicule
      h4 Créer un véhicule
      p Ta bagnole a par défaut vitesse=0, maniabilité=0, 0-armure et sa taille correspondant à son châssis.
      p
        strong Châssis
      ul.dot
        li
          span moto (taille=0, 1 option de combat)
        li
          span petite voiture, buggy (taille=1, 2 options de combat)
        li
          span coupé, berline, jeep, pick-up, fourgon, limo, 4x4, tracteur (taille=2, 2 options de combat)
        li
          span semi, bus, ambulance, construction/utilitaire (taille=3, 2 options de combat)
      p
        strong Points forts
        |
        | (1 ou 2 au choix) : rapide, robuste, agressive, compacte, énorme, tout-terrain, nerveuse, spacieuse, endurante, facile d’entretien.
      p
        strong Apparences
        |
        | (1 ou 2 au choix) : élégante, vintage, comme neuve, puissante, excentrique, musclée, flashy, luxueuse, mignonne, artisanale, gladiateur de la route, criarde.
      p
        strong Faiblesse
        |
        | (1 au choix) : poussive, bruyante, manque de répondant, perd des pièces, rigide, capricieuse, consommatrice en carburant, pas fiable, suspensions trop souples.
      p
        strong Options de combat
        |
        | (dépend du châssis) : vitesse+1, maniabilité+1, taille+1, armure+1.

      h4 Créer un véhicule de combat
      p
        | Créer un véhicule, puis choisir 2 parmi :
        ul.dot
          li
            span +1 option de combat (vitesse+1, maniabilité+1, taille+1 ou armure+1)
          li
            span mitrailleuses (3-dégât proche/loin zone salissant)
          li
            span lance-grenades (4-dégât proche zone salissant)
          li
            span pare-choc à pointes (+1-dégât si utilisé comme arme)
          li
            span mitrailleuse calibre 50 (5-dégât loin zone salissant)
          li
            span plateforme ou harnais d’abordage (+1 pour aborder un véhicule depuis celui-ci)