table
  thead
    tr
      th Carac
      th Actions
      th Cochée
  tr
    td
      .editbox-xs
        label Cool
    td
      p.help-text agir face au danger
    td(style="text-align:center")
      +checkbox
  tr
    td
      .editbox-xs
        label Dur
    td
      p.help-text
        | agresser quelqu’un;
        br
        | agresser par surprise;
        br
        | se battre
    td(style="text-align:center")
      +checkbox
  tr
    td
      .editbox-xs
        label Sexy
    td
      p.help-text
        | séduire ou manipuler
    td(style="text-align:center")
      +checkbox
  tr
    td
      .editbox-xs
        label Rusé
    td
      p.help-text
        | faire le point;
        br
        | cerner quelqu’un
    td(style="text-align:center")
      +checkbox
  tr
    td
      .editbox-xs
        label Zarb
    td
      p.help-text
        | ouvrir son cerveau
    td(style="text-align:center")
      +checkbox
